/* Layout */
html, body, #main-frame {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#main-frame {
	display: flex;
	flex-direction: row;
}
aside {
	width: 25%;
	min-width: 25%;
	border-left: 1px solid #e0e0e0;
	background-color: #fafafa;
	overflow-y: auto;
	overflow-x: hidden;
}
main {
	flex:auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
#messages {
	flex: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
#bottom-bar {
	height: 35px;
}

/* Components */
a.btn {
	display: inline-block;
	font-size: 0.9em;
	padding: 7px 15px;
	background-color: #e5e5e5;
	color: black;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 2px 2px 3px #888888;
}
a.btn:hover {
	background-color: #eeeeee;
}
a.btn:active, a.btn.active {
	box-shadow: 0 0 5px #888888;
}

/* Bottom-bar */
#bottom-bar {
	text-align: center;
	font-weight: bold;
	padding: 15px 100px 0 0;
}
#bottom-bar .recording {
	color: red;
}
@-moz-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2s;

    -moz-animation-name: blink;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Aside */
aside {
	padding: 10px;
}

/* Welcome aside */
aside #welcome {
	text-align: center;
}
aside #welcome .lede {
	font-size: 0.8em;
	font-style: italic;
}
aside #welcome a.btn {
	display: block;
	margin-top: 10px;
}
aside #welcome .sub-btn {
	margin: 1px 5px 10px;
	padding: 10px 0;
	display: none;
	background-color: #fafafa;
	border: 1px solid #e0e0e0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
aside #welcome #newpublicform input#newpublicinput {
	width: 130px;
}
aside #welcome #newpublicform input {
	font-size: 0.9em;
}
aside #welcome #seepubliclist {
	list-style: none;
}
aside #welcome #seepubliclist li span {
	font-size: 0.7em;
}
aside #welcome #seepubliclist li span.ago {
	color: #555555;
	font-style: italic;
}
aside #welcome #seepubliclist li a {
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}
aside #welcome #seepubliclist li a:hover {
	text-decoration: underline;
}

/* Users aside */
aside #users {
	font-size: 0.9em;
}
aside #users #users-sendurl {
	margin: 0;
	font-style: italic;
}
aside #users #exit {
	text-align: right;
	padding: 0 10px;
}
aside #users #exit a {
	color: black;
}
aside #users h3 {
	text-align: center;
	margin-top: 50px;
}

/* Comment area */
#comment-area {
	position:absolute;
	bottom: 10px;
	right: 30%;
	padding: 5px 10px;
	background-color: #e0e0e0;
	border-radius: 10px;
}
#comment-area a {
	color: black;
	font-size: 0.8em;
	text-decoration: none;
}
