<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>NowSpeak</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/node-uuid/uuid.js"></script>
    <script type="text/javascript" src="bower_components/speakingurl/speakingurl.min.js"></script>
    <script type="text/javascript" src="js/i18n.en.js"></script>
    <script type="text/javascript" src="js/nowspeak-configuration.js"></script>
    <script type="text/javascript" src="js/nowspeak.js"></script>
  </head>

  <body>
    <div id="spacebar-listening" tabindex="1">
      <main>
        <div id="messages">
          <ul id="messageList">
          </ul>
        </div>
        <div id="bottom-bar">
        </div>
      </main>
      <aside>
      </aside>
    </div>
    <div id="comment-area">
      <a href="#" id="comment-icon"></a>
    </div>

    <!-- Templates -->

    <script type="text/template" id="welcome-template">
      <div id="welcome">
        <h3><%= i18n.welcome_title %></h3>
        <div class="lede"><%= i18n.welcome_lede %></div>
        <hr>
        <div id="button_group">
          <h4><%= i18n.welcome_nowwhat %></h4>
          <a class="btn" id="newprivatebutton" href="#"><%= i18n.welcome_newprivatebutton %></a>
          <a class="btn" id="newpublicbutton" href="#"><%= i18n.welcome_newpublicbutton %></a>
          <form id="newpublicform" class="sub-btn">
            <input type="text" id="newpublicinput" placeholder="Name of the room">
            <input type="submit" value="Go!">
          </form>
          <a class="btn" id="seepublicbutton" href="#"><%= i18n.welcome_seepublicbutton %></a>
          <ul id="seepubliclist" class="sub-btn">
          </ul>
        </div>
      </div>
    </script>

    <script type="text/template" id="users-template">
      <div id="users">
        <p id="users-sendurl">↖ <%= i18n.users_sendurl %></p>
        <hr>
        <p id="exit"><a href=""><%= i18n.users_exitroom %></a></p>
        <hr>
        <h3><%= i18n.users_title %><%= getRoomName().length == 36 && getRoomName().charAt(8) === '-' && getRoomName().charAt(13) === '-' && getRoomName().charAt(18) === '-' && getRoomName().charAt(23) === '-' ? 'private' : getRoomName() %></h3>
      </div>
    </script>

</html>
